a:link,a:visited ,a:active {color: #EDA334; text-decoration: none;}
a:hover {	color: #FFD700;text-decoration: underline;	}
.link1 a:link {color: #3F3F3F;text-decoration: none;font-weight:bold;}
.link1 a:visited {color: #3F3F3F;text-decoration: none;}
.link1 a:active {color: #3F3F3F;text-decoration: none;}
.link1 a:hover {color: #ffffff;text-decoration: underline;}

body{font-family: tahoma;	font-size: 11px; color: #ffffff;background:url(images/tlo.jpg);}
td{font-family: tahoma;	font-size: 11px; color: #ffffff;}
img {border: 0px;}      
.logo{text-align: left;font-size:44px;color: #3f3f3f;font-weight:bold; padding-left: 30px;padding-right: 30px;padding-bottom: 3px;text-align:center;padding-top:20px;}   
.g{padding-top:7px;}
.b{text-align: left;color: #ffffff;font-weight:bold; padding-left: 2px;padding-bottom: 3px;padding-top:10px;padding-right:8px;text-align:justify;}   
.b2{text-align: left;color: #ffffff;font-weight:bold; padding-left: 2px;padding-bottom: 3px;padding-top:10px;padding-right:8px;}   

.tloo {width:576px; background:url(images/tlo_n.jpg);}
.log {height:92px; background:url(images/logo.jpg);}
.pod {height:25px;width:576px; background:url(images/pod_t.jpg);text-align:center}
.dol {height:32px;width:576px; background:url(images/dol.jpg);}